<VirtualHost *:{{ http_port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ http_host }}
   ServerAlias www.{{ http_host }}
   DocumentRoot /var/www/{{ http_host }}
   ErrorLog /var/log/apache2/{{ http_host }}_error.log
   CustomLog /var/log/apache2/{{ http_host }}_access.log combined
</VirtualHost>
